In [1]:
# Before you get started, please tell us who you are, putting your
# Net ID and your partner's Net ID below (or none if your working solo)                                                                                                                                      
#
# project: p7
# submitter: wxia9
# partner: none

In [1]:
import csv
import json

fifa_file = open('Fifa19.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
fifa_file.close()
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,4]:
        row[idx] = float(row[idx])

In [4]:
kkk = json.load("kkk.json");

AttributeError: 'str' object has no attribute 'read'

In [3]:
print(header)
for row in player_data[:5]:
    print(row)

['Id', 'Name', 'Age', 'Nationality', 'Overall', 'Club', 'Value', 'Wage', 'Preferred Foot', 'Jersey Number', 'Height', 'Weight']
['158023', 'L. Messi', 31.0, 'Argentina', 94.0, 'FC Barcelona', '€110.5M', '€565K', 'Left', '10', "5'7", '159lbs']
['20801', 'Cristiano Ronaldo', 33.0, 'Portugal', 94.0, 'Juventus', '€77M', '€405K', 'Right', '7', "6'2", '183lbs']
['190871', 'Neymar Jr', 26.0, 'Brazil', 92.0, 'Paris Saint-Germain', '€118.5M', '€290K', 'Right', '10', "5'9", '150lbs']
['193080', 'De Gea', 27.0, 'Spain', 91.0, 'Manchester United', '€72M', '€260K', 'Right', '1', "6'4", '168lbs']
['192985', 'K. De Bruyne', 27.0, 'Belgium', 91.0, 'Manchester City', '€102M', '€355K', 'Right', '7', "5'11", '154lbs']

In [4]:
def translation(name):
    lastChar = name[-1].lower()
    num = float(name [:-1])
    if (lastChar == "m") :
        num = num * 1000000
    elif (lastChar == "k") :
        num = num * 1000
    else:
        num = num * 1000000000
    return float(num)

In [5]:
def get_column(col_name):
    column = []
    j = 0;
    for i in range(len(header)):
        if(col_name.lower() == header[i].lower()):
            break
    for row in player_data:
        column.append(row[i])
        j += 1
    return column

In [6]:
def player_count(country):
    array = get_column("nationality")
    count = 0;
    for i in range(len(array)):
        if array[i].lower() == country.lower():
            count += 1
    return count

In [7]:
def player_to_dict(id):
    check = {}
    for row in player_data:
        if int(row[0]) == id:
            for i in range(len(header)):
                check.update({header[i]:row[i]})
            break
    return check

In [8]:
def club_to_dict(clubs):
    check = {}
    for i in range (len(clubs)):
        check.update({clubs[i]:0})
    return check

In [9]:
def players(Jnumber):
    array = get_column('Jersey Number')
    count = 0;
    for i in range(len(array)):
        if array[i].lower() == Jnumber.lower():
            count += 1
    return count

In [10]:
def numClubs(Club):
    array = get_column('Club')
    count = 0;
    for i in range(len(array)):
        if array[i].lower() == Club.lower():
            count += 1
    return count

In [11]:
#q1
index = 0
i = 0
max = 0
for row in player_data:
    if(max <= row[2]):
        max = row[2]
        index = i
    i += 1
player_data[index][1]

'O. Pérez'

In [12]:
#q2
index = 0
i = len(player_data)-1
max = 0
for row in reversed(player_data):
    if(row[7][-1] == '0'):
        i -= 1
        continue
    wage = translation(row[7][1:])
    if(wage >= max):
        max = wage
        index = i
    i -= 1
player_data[index][1]

'L. Messi'

In [13]:
#q3
index = 0
i = 0
max = 0
for row in player_data:
    if(row[6][-1] == '0'):
        continue
    value = translation(row[6][1:])
    if(value >= max):
        max = value
        index = i
    i += 1
player_data[index][1]

'Neymar Jr'

In [14]:
#q4
player_data[index][5]

'Paris Saint-Germain'

In [15]:
#q5
array = get_column("nationality")
array[:5]

['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium']

In [16]:
#q6
array = get_column("name")
sorted(array)[0:5]

['A. Abang', 'A. Abdellaoui', 'A. Abdennour', 'A. Abdi', 'A. Abdu Jaber']

In [17]:
#q7
array = get_column("value")
total = 0;
for i in range(len(array)):
    if array[i][-1] == '0':
        continue
    total += translation(array[i][1:])
total/len(array)

2410695.8861976163

In [18]:
#q8
array = get_column("age")
total = 0;
for i in range(len(array)):
    total += array[i]
total/len(array)

25.122205745043114

In [19]:
#q9
player_count("Portugal")

322

In [20]:
#q10
player_count("Brazil")

827

In [21]:
#q11
AllCountry = set(get_column("nationality"))
max = 0;
index = 0;
for i in range(len(AllCountry)):
    current = player_count(list(AllCountry)[i])
    if current > max:
        max = current
        index = i;
list(AllCountry)[index]

'England'

In [22]:
#q12
result = player_to_dict(20801)
result

{'Id': '20801',
 'Name': 'Cristiano Ronaldo',
 'Age': 33.0,
 'Nationality': 'Portugal',
 'Overall': 94.0,
 'Club': 'Juventus',
 'Value': '€77M',
 'Wage': '€405K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "6'2",
 'Weight': '183lbs'}

In [23]:
#q13
result = player_to_dict(190871)
result

{'Id': '190871',
 'Name': 'Neymar Jr',
 'Age': 26.0,
 'Nationality': 'Brazil',
 'Overall': 92.0,
 'Club': 'Paris Saint-Germain',
 'Value': '€118.5M',
 'Wage': '€290K',
 'Preferred Foot': 'Right',
 'Jersey Number': '10',
 'Height': "5'9",
 'Weight': '150lbs'}

In [24]:
#q14
result = player_to_dict(158023)
result

{'Id': '158023',
 'Name': 'L. Messi',
 'Age': 31.0,
 'Nationality': 'Argentina',
 'Overall': 94.0,
 'Club': 'FC Barcelona',
 'Value': '€110.5M',
 'Wage': '€565K',
 'Preferred Foot': 'Left',
 'Jersey Number': '10',
 'Height': "5'7",
 'Weight': '159lbs'}

In [25]:
#q15
result = player_to_dict(192985)
result

{'Id': '192985',
 'Name': 'K. De Bruyne',
 'Age': 27.0,
 'Nationality': 'Belgium',
 'Overall': 91.0,
 'Club': 'Manchester City',
 'Value': '€102M',
 'Wage': '€355K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "5'11",
 'Weight': '154lbs'}

In [26]:
#q16
result = {}
AllCountry = set(get_column("nationality"))
for i in range(len(AllCountry)):
    count = player_count(list(AllCountry)[i])
    result.update({list(AllCountry)[i]:count})
result

{'Niger': 3,
 'Paraguay': 85,
 'Sierra Leone': 6,
 'Ghana': 114,
 'Iceland': 47,
 'Jamaica': 32,
 'Gambia': 15,
 'Burkina Faso': 16,
 'United Arab Emirates': 1,
 'Albania': 40,
 'St Lucia': 1,
 'Uzbekistan': 2,
 'São Tomé & Príncipe': 1,
 'Turkey': 303,
 'Korea DPR': 4,
 'Libya': 4,
 'Japan': 478,
 'Republic of Ireland': 368,
 'Eritrea': 2,
 'Montserrat': 4,
 'Serbia': 126,
 'Egypt': 31,
 'Netherlands': 453,
 'Cape Verde': 19,
 'Colombia': 618,
 'Kuwait': 1,
 'Hungary': 38,
 'Canada': 64,
 'Guinea Bissau': 15,
 'Grenada': 1,
 'Argentina': 937,
 'Bermuda': 2,
 'Tanzania': 3,
 'Finland': 67,
 'Bulgaria': 32,
 'Iran': 17,
 'Norway': 341,
 'Azerbaijan': 5,
 'Portugal': 322,
 'Georgia': 26,
 'Senegal': 130,
 'Trinidad & Tobago': 4,
 'Afghanistan': 4,
 'Angola': 15,
 'Bolivia': 30,
 'Haiti': 10,
 'Equatorial Guinea': 5,
 'Honduras': 16,
 'South Sudan': 1,
 'Iraq': 7,
 'Brazil': 827,
 'Greece': 102,
 'Sweden': 397,
 'Mali': 43,
 'Kazakhstan': 4,
 'Palestine': 1,
 'Dominican Republic': 2,
 'Liechtenstein': 3,
 'Latvia': 6,
 'Liberia': 1,
 'Belarus': 4,
 'Rwanda': 1,
 'Morocco': 85,
 'Venezuela': 67,
 'Botswana': 1,
 'Mexico': 366,
 'Russia': 79,
 'Algeria': 60,
 'Cuba': 4,
 'Barbados': 3,
 'Puerto Rico': 1,
 'Nicaragua': 2,
 'Qatar': 1,
 'New Caledonia': 1,
 'United States': 353,
 'Croatia': 126,
 'Peru': 37,
 'Chad': 2,
 'India': 30,
 'Uganda': 6,
 'Guyana': 3,
 'Comoros': 6,
 'Uruguay': 149,
 'Syria': 9,
 'Guatemala': 3,
 'Sudan': 3,
 'Panama': 15,
 'New Zealand': 44,
 'Bosnia Herzegovina': 61,
 'Germany': 1198,
 'Indonesia': 1,
 'Poland': 350,
 'Wales': 129,
 'Togo': 12,
 'Gabon': 15,
 'Fiji': 1,
 'Spain': 1072,
 'Luxembourg': 8,
 'Moldova': 5,
 'Czech Republic': 100,
 'Slovakia': 54,
 'Israel': 14,
 'Benin': 15,
 'Oman': 1,
 'FYR Macedonia': 20,
 'DR Congo': 52,
 'Costa Rica': 30,
 'Thailand': 5,
 'Congo': 25,
 'Ethiopia': 1,
 'Mauritius': 1,
 'Northern Ireland': 80,
 'Suriname': 4,
 'Austria': 298,
 'Zimbabwe': 13,
 'Chile': 391,
 'Lebanon': 1,
 'Switzerland': 220,
 'Faroe Islands': 6,
 'Mozambique': 4,
 'Andorra': 1,
 'Slovenia': 55,
 'South Africa': 71,
 'Montenegro': 23,
 'Scotland': 286,
 'Namibia': 3,
 'Kenya': 10,
 'Lithuania': 8,
 'Zambia': 9,
 'Curacao': 14,
 'Korea Republic': 335,
 'Madagascar': 12,
 'Saudi Arabia': 340,
 'Ivory Coast': 100,
 'Cameroon': 90,
 'Antigua & Barbuda': 4,
 'Nigeria': 121,
 'Ecuador': 43,
 'Kosovo': 33,
 'Guam': 1,
 'Belgium': 260,
 'Hong Kong': 2,
 'Cyprus': 8,
 'Tunisia': 32,
 'Denmark': 336,
 'France': 914,
 'Australia': 236,
 'China PR': 392,
 'Malta': 1,
 'Estonia': 13,
 'Jordan': 1,
 'St Kitts Nevis': 3,
 'Guinea': 31,
 'Romania': 54,
 'Ukraine': 73,
 'Italy': 702,
 'Central African Rep.': 3,
 'Philippines': 2,
 'England': 1662,
 'Armenia': 10,
 'Burundi': 3,
 'El Salvador': 5,
 'Mauritania': 4,
 'Belize': 1}

In [27]:
#q17
result = {}
AllJersey = set(get_column("Jersey Number"))
for i in range(len(AllJersey)):
    count = players(list(AllJersey)[i])
    result.update({list(AllJersey)[i]:count})
result

{'': 60,
 '41': 53,
 '51': 7,
 '44': 74,
 '60': 10,
 '79': 2,
 '84': 4,
 '10': 593,
 '72': 7,
 '53': 11,
 '24': 425,
 '13': 419,
 '14': 542,
 '42': 54,
 '97': 16,
 '64': 2,
 '50': 42,
 '59': 5,
 '15': 501,
 '82': 5,
 '40': 114,
 '46': 29,
 '31': 280,
 '6': 586,
 '88': 44,
 '29': 358,
 '52': 10,
 '87': 14,
 '12': 390,
 '43': 41,
 '11': 590,
 '92': 10,
 '63': 4,
 '9': 577,
 '86': 4,
 '33': 287,
 '96': 13,
 '25': 409,
 '45': 47,
 '95': 12,
 '85': 1,
 '68': 4,
 '99': 70,
 '23': 546,
 '4': 573,
 '18': 545,
 '91': 21,
 '70': 29,
 '39': 107,
 '5': 579,
 '7': 604,
 '61': 7,
 '71': 10,
 '1': 566,
 '8': 612,
 '55': 35,
 '77': 77,
 '89': 15,
 '19': 545,
 '75': 6,
 '26': 390,
 '81': 5,
 '56': 17,
 '48': 17,
 '38': 102,
 '58': 5,
 '3': 547,
 '21': 536,
 '57': 8,
 '54': 11,
 '65': 4,
 '28': 357,
 '49': 19,
 '94': 11,
 '67': 5,
 '73': 6,
 '93': 14,
 '69': 6,
 '2': 519,
 '22': 531,
 '74': 2,
 '37': 135,
 '30': 371,
 '47': 28,
 '27': 423,
 '35': 183,
 '34': 207,
 '62': 6,
 '98': 21,
 '76': 4,
 '83': 6,
 '36': 145,
 '17': 554,
 '90': 26,
 '32': 250,
 '20': 568,
 '80': 16,
 '78': 5,
 '66': 27,
 '16': 517}

In [28]:
#q18
result = {}
count = 0;
AllJersey = set(get_column("Jersey Number"))
for i in range(len(AllJersey)):
    total = 0
    count = 0
    for row in player_data:
        if row[-3] == list(AllJersey)[i]:
            total += row[4]
    count = players(list(AllJersey)[i])
    result.update({list(AllJersey)[i]:total/count})
result

{'': 61.63333333333333,
 '41': 61.37735849056604,
 '51': 58.0,
 '44': 64.70270270270271,
 '60': 64.1,
 '79': 71.5,
 '84': 63.75,
 '10': 70.38617200674537,
 '72': 65.0,
 '53': 62.45454545454545,
 '24': 64.65411764705883,
 '13': 66.90214797136038,
 '14': 66.9870848708487,
 '42': 62.5,
 '97': 62.4375,
 '64': 62.5,
 '50': 62.30952380952381,
 '59': 57.2,
 '15': 66.53493013972056,
 '82': 59.8,
 '40': 61.51754385964912,
 '46': 60.206896551724135,
 '31': 63.06785714285714,
 '6': 68.19283276450511,
 '88': 66.5,
 '29': 63.92178770949721,
 '52': 61.8,
 '87': 68.35714285714286,
 '12': 65.43076923076923,
 '43': 60.048780487804876,
 '11': 68.3406779661017,
 '92': 68.9,
 '63': 69.0,
 '9': 69.28769497400347,
 '86': 64.0,
 '33': 63.29965156794425,
 '96': 64.53846153846153,
 '25': 64.59413202933985,
 '45': 62.0,
 '95': 65.25,
 '85': 57.0,
 '68': 67.0,
 '99': 64.35714285714286,
 '23': 66.46886446886447,
 '4': 67.76614310645724,
 '18': 66.45688073394496,
 '91': 66.76190476190476,
 '70': 64.72413793103448,
 '39': 62.52336448598131,
 '5': 68.49740932642487,
 '7': 68.87251655629139,
 '61': 61.57142857142857,
 '71': 64.5,
 '1': 68.35689045936395,
 '8': 68.83006535947712,
 '55': 63.0,
 '77': 66.1038961038961,
 '89': 65.4,
 '19': 66.63669724770642,
 '75': 66.5,
 '26': 64.04358974358975,
 '81': 65.0,
 '56': 65.11764705882354,
 '48': 61.470588235294116,
 '38': 61.77450980392157,
 '58': 62.8,
 '3': 67.38939670932358,
 '21': 66.2723880597015,
 '57': 68.125,
 '54': 61.0,
 '65': 58.5,
 '28': 63.943977591036415,
 '49': 59.68421052631579,
 '94': 66.72727272727273,
 '67': 64.6,
 '73': 64.33333333333333,
 '93': 67.28571428571429,
 '69': 68.66666666666667,
 '2': 67.58766859344894,
 '22': 66.31638418079096,
 '74': 67.5,
 '37': 61.785185185185185,
 '30': 63.1644204851752,
 '47': 63.57142857142857,
 '27': 64.36170212765957,
 '35': 60.92896174863388,
 '34': 62.072463768115945,
 '62': 62.0,
 '98': 60.904761904761905,
 '76': 68.0,
 '83': 67.66666666666667,
 '36': 60.5448275862069,
 '17': 66.9115523465704,
 '90': 65.61538461538461,
 '32': 62.152,
 '20': 66.7306338028169,
 '80': 63.4375,
 '78': 65.6,
 '66': 63.77777777777778,
 '16': 66.08510638297872}

In [29]:
#q19
max = 0
for key in result:
    if result[key] > max:
        max = result[key]
        final = key
final

'79'

In [30]:
#q20
result = {}
count = 0
max = 0
AllClub = set(get_column("Club"))
clubDict = club_to_dict(list(AllClub))
for row in player_data:
    current = clubDict[row[5]]
    if(row[7][-1] == '0'):
        continue
    updated = translation(row[7][1:])
    clubDict.update({row[5]:current + updated})
for key in clubDict:
    count = numClubs(key)
    clubDict.update({key:clubDict[key]/count})
for key in clubDict:
    if clubDict[key] >= max:
        max = clubDict[key]
        Index = key
Index

'Real Madrid'